.background {
    -fx-background-image: url('../images/background/01.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
}

.text-field {
    -fx-prompt-text-fill: gray;
}