.background {
    -fx-background-image: url('../images/background/01.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.choice-box > .label {
    -fx-text-fill: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.choice-box .context-menu {
    -fx-background-color: rgb(42, 42, 42);
    -fx-background-radius: 5;
}

.choice-box .menu-item:focused {
    -fx-background-color: rgb(50, 50, 50);
}

.choice-box .menu-item > .label {
    -fx-text-fill: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.choice-box .menu-item:focused > .label {
    -fx-background-color: rgb(50, 50, 50);
}



.combo-box > .label {
    -fx-text-fill: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.combo-box > . {
    -fx-background-color: rgb(42, 42, 42);
    -fx-background-radius: 5;
}

.combo-box .menu-item:focused {
    -fx-background-color: rgb(50, 50, 50);
}

.combo-box .menu-item > .label {
    -fx-text-fill: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.combo-box .menu-item:focused > .label {
    -fx-background-color: rgb(50, 50, 50);
}