.background {
    -fx-background-image: url('../images/background/01.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.choice-box > .label {
    -fx-text-fill: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.choice-box .context-menu {
    -fx-background-color: rgb(42, 42, 42);
    -fx-background-radius: 5;
}

.choice-box .menu-item:focused {
    -fx-background-color: rgb(50, 50, 50);
}

.choice-box .menu-item > .label {
    -fx-text-fill: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.choice-box .menu-item:focused > .label {
    -fx-background-color: rgb(50, 50, 50);
}


.combo-box .list-cell {
    -fx-background-color: rgb(42, 42, 42);
    -fx-text-fill: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.combo-box .text-field {
    -fx-text-fill: gray;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-color: rgba(42, 42, 42, 0.7);
}

.combo-box .list-cell:hover {
    -fx-background-color: rgb(35, 35, 35);
}

.combo-box .list-cell:focused {
    -fx-background-color: rgb(35, 35, 35);
}

.table-column {
    -fx-alignment: CENTER-RIGHT;
}

.pop-up {
    -fx-background-color: #fff;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 15, -3, 0, 0);
}

.btn-label {
    -fx-font-size: 15;
}

.btn-label:hover {
    -fx-cursor: pointer;
}

.profile-image {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-color: #802323;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

.addButton {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.addButton:hover {
    -fx-background-color: #202020;
}

.small-label{
    -fx-text-fill: #505050;
    -fx-font-size: 9;
}
.big-label{
    -fx-text-fill: #000;
    -fx-font-size: 15;
}

ProfileView{
    -fx-border-color: transparent transparent #858585 transparent;
    -fx-border-width: 1;
    -fx-border-insets: 0 0 1 0;
}
.title-button{
    -fx-text-fill: #000;
    -fx-font-size: 20;
    -fx-border-color: #858585 #858585 transparent #858585;
    -fx-border-width: 1;
    -fx-border-insets: 1 1 0 1;
}